.header-container {
  background-color: var(--color-white);
  box-shadow: var(--shadow-sm);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1rem 0;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    font-family: 'Handjet';
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 2.5rem;
  }
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.logo-yardsale {
  color: var(--color-primary);
}

.logo-community {
  color: var(--color-accent);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav-link {
  font-weight: 500;
  color: var(--color-text);
  border: solid 2px;
  border-radius: var(--radius-sm);
  padding: 1px 8px;
  transition: color 0.2s ease;

  &.upload {
    border-color: var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);

    &:hover {
      color: var(--color-primary);
      background-color: var(--color-white);
    }
  }
}

.nav-link:hover {
  color: var(--color-primary);
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-name {
  font-weight: 500;
  color: var(--color-accent);
}

.btn-login,
.btn-logout {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: var(--radius-sm);
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.btn-login:hover,
.btn-logout:hover {
  background-color: var(--color-primary);
  /* darker shade of primary */
}

.btn-logout {
  background-color: var(--color-accent);
}

.btn-logout:hover {
  background-color: #241d22;
}